/* General */

.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
  gap: 32px;
}

.sectionHeader h2 {
  text-align: center;
}

.headerText {
  color: var(--grey100);
  text-align: center;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
  width: 84%;
}

/* Hero */

.hero {
  display: flex;
  padding: 56px 160px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.heroBg {
  position: absolute; /* Ensures it ignores the parent element and stays relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 150vh; /* Full height of the viewport */
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover; /* Scales the image to cover the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  z-index: -1; /* Pushes it behind other content */
}

.heroLabel {
  display: flex;
  width: 172px;
  height: 34px;
  padding: 4px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #5b3cb7;
  background: #121940;
}

.heroCode {
  width: 85%;
}

/* advantage */

.advantage {
  background-color: var(--grey700);
}

.advantageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  margin-bottom: 130px;
}

.sectionLabel {
  display: flex;
  height: 32px;
  padding: 4px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--grey200);
}

.advantageContent {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}

.lightBox1 {
  display: flex;
  padding: 63px 48px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 calc(50% - 16px); /* Two items per row, accounting for the gap */
  gap: 196px;
  border-radius: 24px;
  background: url('../assets/research-bg.svg') lightgray 50% / cover no-repeat;
  align-self: stretch;
}

.lightBoxLink {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: var(--white);
}

.lightBox2 {
  display: flex;
  padding: 63px 48px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 calc(50% - 16px); /* Two items per row, accounting for the gap */
  gap: 312px;
  border-radius: 24px;
  background: url('../assets/trust-center-bg.svg') lightgray 50% / cover
    no-repeat;
  align-self: stretch;
}

.darkBox1 {
  display: flex;
  padding: 62px 56px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 calc(50% - 16px); /* Two items per row, accounting for the gap */
  gap: 234px;
  border-radius: 24px;
  background: radial-gradient(
    80.9% 88.48% at 26.11% 32.81%,
    #100a31 0%,
    #110a33 19.21%,
    #000 100%
  );
  align-self: stretch;
}

.darkBox1Text {
  font-size: 88px;
  font-weight: 600;
  line-height: 48px; /* 54.545% */
  letter-spacing: -0.704px;
}

.darkBox1Text span {
  color: #8b949e;
  font-size: 24px;
  font-weight: 500;
  line-height: 48px; /* 200% */
  letter-spacing: -0.192px;
}

.darkBox2 {
  display: flex;
  padding: 62px 38px 62px 56px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 calc(50% - 16px); /* Two items per row, accounting for the gap */
  gap: 208px;
  border-radius: 24px;
  background: radial-gradient(
    80.9% 88.48% at 26.11% 32.81%,
    #100a31 0%,
    #110a33 19.21%,
    #000 100%
  );
  align-self: stretch;
}

.darkBox2Text {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.32px;
}

.bigText {
  color: var(--white);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%; /* 57.6px */
  letter-spacing: -0.96px;
}

.circleIconShadow {
  border-radius: 100px;
  box-shadow: 0px 0px 41.4px 5px rgba(142, 202, 255, 0.28);
}

.boxIcons {
  display: flex;
  align-items: center;
  gap: 53px;
}

.iconLogos {
  display: flex;
  align-items: center;
  gap: 44px;
}

.customerStory {
  display: flex;
  flex: 1 1 100%; /* Full-width items on smaller screens */
  padding: 59px 55px 92px 55px;
  align-items: flex-start;
  gap: 101px;
  border-radius: 24px;
  background: var(--grey900);
}

.storyData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 111px;
}

.storyNumbers {
  display: flex;
  align-items: center;
  gap: 92px;
  align-self: stretch;
}

.storyNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.numberText {
  color: var(--grey100);
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.numberTitle {
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
}

.storyDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 51px;
}

.storyDescription p {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: -0.32px;
}

.sideInfo {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.sideInfoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}

.sideContentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

@media (max-width: 1200px) {
  .lightBox1,
  .lightBox2,
  .darkBox1,
  .darkBox2 {
    flex: 1 1 100%; /* Full-width items on smaller screens */
  }
}

@media (max-width: 1042px) {
  .customerStory {
    flex-direction: column;
  }
}

/* Standards */

.standards {
  background-image: url('../assets/standards-bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.standardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  margin-bottom: 130px;
}

.headerIcon {
  width: 40px;
  height: 40px;
}

.standardLargeBox {
  display: flex;
  padding: 56px 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid #2b3035;

  background: linear-gradient(
    180deg,
    rgba(14, 11, 24, 0.8) 0%,
    rgba(5, 6, 7, 0.8) 100%
  );
  backdrop-filter: blur(23.350000381469727px);
}

.standardQuote {
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.8px;
}

.standardQuote span {
  color: var(--grey100);
  font-size: 40px;
  font-weight: 500;
  line-height: 52px; /* 130% */
  letter-spacing: -0.8px;
}

.quoteAuthor {
  display: flex;
  align-items: center;
  gap: 12px;
}

.authorDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.authorDetails p {
  font-family: 'Space Mono';
}

.authorDetails p:nth-of-type(2) {
  color: var(--grey100);
}

.standardsContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  margin-top: 120px;
}

.standardData {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.standardDataBox {
  display: flex;
  padding: 56px;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid #2b3035;
  background: linear-gradient(180deg, #0e0b18 0%, #050607 100%);
}

.standardDataBox h3 {
  font-weight: 500;
}

.standardDataBox p {
  color: var(--grey100);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px; /* 150% */
  letter-spacing: 0.18px;
}

.standardDataBox p:nth-of-type(2) {
  margin-top: 32px;
  font-size: 14px;
}

.capsule {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px; /* 130% */
  letter-spacing: -0.8px;
}

@media (max-width: 870px) {
  .standardData {
    flex-wrap: wrap;
  }
}

/* pricing */

.pricing {
  background-image: url('../assets/pricing-bg.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.pricingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  margin-bottom: 130px;
}

.pricingOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.pricingOption {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid #4e4470;
  background: linear-gradient(
    180deg,
    rgba(33, 32, 49, 0.31) 0.06%,
    rgba(24, 27, 33, 0.9) 64.99%
  );
  backdrop-filter: blur(23.350000381469727px);
}

.pricingHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}

.pricingHead p {
  color: var(--grey100);
  text-align: center;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.pricingHead h4 {
  text-align: center;
  line-height: 120%;
}

.pricingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.pricingInfo p:nth-of-type(2) {
  color: var(--grey100);
}

.pricingAction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.pricingAction a {
  align-self: stretch;
}

.pricingAction p {
  color: var(--grey100);
  text-align: center;
  font-size: 12px;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.12px;
}

.pricingAmount {
  text-align: center;
  font-size: 56px;
  font-weight: 500;
  letter-spacing: 0.179px;
}

.pricingAmount span {
  font-size: 32px;
}

.pricingContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
}

/* Contact Sales */

.contactSales {
  margin-top: 240px;
  display: flex;
  padding: 48px 32px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 24px;
  border: 2px solid #1114e9;
  background-color: var(--grey700);
}

.contactSalesText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.contactSalesText h4 {
  text-align: center;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.102px;
}

.contactSalesText p {
  color: var(--grey100);
  text-align: center;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.18px;
}

.contactSalesBtn {
  display: flex;
  height: 48px;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 2px solid var(--white);
}

/* usps */
.uspSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 180px;
  margin-bottom: 180px;
}

.uspRow {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.uspItem {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 16px;
  border: 1px solid var(--grey400);
  background: var(--grey700);
  justify-content: space-between;
  align-self: stretch;
}

.uspItemDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.uspItemDescription h5 {
  color: #fff;
  font-weight: 600;
  line-height: 26px; /* 130% */
  letter-spacing: 0.064px;
}

.uspItemDescription p {
  color: var(--grey100);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
