/* Container */
.sliderContainer {
  position: relative;
  width: 85%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow */
}

/* Slider */
.slider {
  display: flex;
  gap: 80px; /* Spacing between logos */
  width: max-content;
  animation: slide 100s linear infinite; /* Smooth sliding animation */
}

/* Logos */
.slider img {
  object-fit: contain; /* Maintain aspect ratio */
  user-select: none;
}

.slider.paused {
  animation-play-state: paused;
}

/* Fade effects */
.fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Width of fade area */
  pointer-events: none;
  z-index: 1;
}

.fadeLeft {
  left: 0;
  background: linear-gradient(to right, var(--grey900), rgba(255, 255, 255, 0));
}

.fadeRight {
  right: 0;
  background: linear-gradient(to left, var(--grey900), rgba(255, 255, 255, 0));
}

/* Sliding animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
