.navContainer {
  display: flex;
  height: 72px;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.navMain {
  display: flex;
  align-items: center;
  gap: 16px;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.rightNav a {
  font-size: 14px;
}

.linkBtn {
  display: flex;
  align-items: center;
  height: 32px;
  text-align: center;
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px solid #d2d9df;
}

.searchContainer {
  position: relative;
  display: inline-block;
}

.searchContainer input {
  display: flex;
  width: 320px;
  height: 32px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 70px;
  border-radius: 6px;
  border: 1px solid #818b98;
  background: #262d3d;
}

.searchContainer .searchIcon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust spacing from the left edge */
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the icon doesn’t block clicks on the input */
}

.searchContainer .openSearchIcon {
  position: absolute;
  top: 50%;
  left: 290px; /* Adjust spacing from the left edge */
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the icon doesn’t block clicks on the input */
}

input::placeholder {
  color: #fff;
}

.navToggle {
  display: none;
}

/* Responsive Layout */

@media screen and (max-width: 1300px) {
  .navContainer {
    flex-direction: column;
    gap: 0;
    padding: 16px 24px;
  }

  .rightNav {
    display: none;
  }

  .navToggle {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .linksContainer {
    flex-direction: column;
  }

  .navMain {
    display: flex;
    width: 100%;
    align-items: center;
  }

  /* 184px */

  .linksContainer {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
  }

  .showContainer {
    height: 184px;
  }
}
