.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 32px 0;
  border-bottom: 1px solid var(--grey300);
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}

.questionHeader p {
  color: #fff;
  font-size: 20px;
  font-weight: 450;
  line-height: 120%; /* 24px */
  width: 90%;
}

.questionInfo {
  color: var(--grey100);
  font-weight: 450;
  line-height: 24px; /* 150% */
  width: 90%;
}

button {
  background-color: var(--grey700);
  border: none;
}
